nav{
    background-color: blue;
    font-size: 30px;
}
img{
   
    float: left;
}
.paragraph1{
    color: red;
    font-size: 32px;
}
.paragraph2{
    color: red;
    font-size: 20px;
    
}
.sample{
    
}